html {
    height: 100%;
}
body {
    background-color: black;
    height:100%;
}
.container {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    height: 300px;
}
.calculator {
    background-color: rgb(183, 202, 219);
    border-radius: 14px;
}
.screen {
    border-radius: 14px;
}
textarea {
    width: 265px;
    height:60px;
    border-radius: 14px;
    resize: none;
}
table {
    width:265px;
    height: 232px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
td {
    border: 1px solid rgb(12, 18, 24);
    cursor: pointer;
    text-align: center;
}
td:hover {
    background-color: antiquewhite;
}
td:active {
    transform: translateY(4px);
}